@media screen and (max-width: 1200px){
  .container{
    padding: 0 15px;
  }
  header .container{
    padding: 22px 20px 0;
    align-items: flex-start;
  }
  .table{
    min-width: 100%;
    &:last-child{
      margin: 37px 0 0 0;
    }
  }
  .sum{
    min-width: 330px;
  }
}

@media screen and (max-width: 1170px){
  .sum{
    width: auto;
    max-width: 399px;
    min-width: auto;
  }

  .wrapper-exchange{
    flex-wrap: wrap;
    justify-content: center;
  }

  .currencies-wrapper{
    width: auto;
  }

  .exchange-rate{
    width: auto;
  }

  .currencies h3 + div{
    min-width: auto;
    width: auto;
    max-width: 500px;
  }

  .assets-item{
    padding: 20px 14px;
  }

  .assets-item .img-wrapper{
    width: 55px;
    height: 49px;
  }

  .assets-item .assets-item_info button{
    width: 76px;
  }

  .tabs-wrapper_settings{
    width: calc(100% / 3 - 25px);
  }

  .referral-link .link-for-copy input{
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 1024px){
  .checkbox-wrapper .checkbox__text:before{
    right: -70px;
  }

  .checkbox-wrapper .checkbox__text:after{
    right: -53px;
  }

  .checkbox-wrapper .checkbox input:checked + .checkbox__text:after{
    right: -70px;
  }

  .wrapper-statistic .wrapper-statistic_item{
    margin: 0 60px 0 0;
    flex: 1;
  }
}

@media screen and (max-width: 860px){
  .exchange{
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 11px;
    div{
      width: 100%;
      text-align: center;
    }
    .img-wrapper{
      margin: 17px 0;
    }
    div.wrapper-dropdown{
      width: 20%;
    }
    .sum{
      width: 79%;
    }
    .exchange-btn{
      margin: 17px 0 0 0;
    }
  }
  .exchange-button{
    background-image: url("../img/exchange-mob.svg");
  }
  .assets-item-wrapper{
    width: calc(100% / 2 - 15px);
  }
  .checkbox-wrapper label.checkbox{
    max-width: 135px;
  }
  .title .social{
    display: none;
  }
  .social-hidden{
    display: flex;
  }
  .referral-link{
    max-height: none;
    max-width: 100%;
    padding: 15px;
    margin: 22px 0 0 0;
  }
  .referral-program-wrapper{
    max-width: 100%;
  }
}

@media screen and (max-width: 760px){
  nav{
    display: none;
  }

  .mobile-menu{
    display: block;
  }

  header .container{
    align-items: flex-start;
    .version-btn{
      padding: 0;
      width: 18px;
      height: 18px;
      background-size: cover;
      span{
        display: none;
      }
    }
    .logo-wrapper{
      width: 90%;
    }
  }

  .content h1{
    font-size: 24px;
  }

  div.wrapper-dropdown{
    width: 20%;
  }
  .exchange-rate{
    min-width: 100%;
    .table{
      min-width: auto;
    }
  }

  .news-wrapper .news-item{
    width: 100%;
  }

  .login-popup.active,
  .sign-up-popup.active,
  .exchange-popup.active,
  .cancel-exchange-popup.active,
  .confirm-change-popup.active{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    border-radius: inherit;
    input{
      width: 100%;
    }
    input[type="submit"]{
      margin: 0 0 40px 0;
    }
  }

  .login-popup.active h3,
  .sign-up-popup.active h3,
  .exchange-popup.active h3,
  .cancel-exchange-popup.active h3,
  .confirm-change-popup.active h3{
    margin: 40px 0 45px;
  }

  .tabs-wrapper_settings{
    width: 100%;
    &:not(:last-child){
      margin: 0 0 37px 0;
    }
  }

  .tabs-wrapper label:not(:last-child){
    width: 49%;
    margin: 0 0 25px 0;
    justify-content: center;
    height: 40px;
  }

  .tabs-wrapper label{
    font-size: 12px;
    padding: 8px 13px;
  }

  .tabs-wrapper section{
    padding: 0 0 54px;
  }

  .wrapper-statistic{
    flex-wrap: wrap;
    padding: 37px 0 0 0;
    .wrapper-statistic_item{
      flex: auto;
      width: 100%;
      .wrapper-statistic_item-col{
        justify-content: flex-start;
        div{
          min-width: 119px;
          &:first-child{
            margin: 0 64px 0 0;
          }
        }
      }
    }
  }

  .checkbox-wrapper label.checkbox{
    max-width: 195px;
  }

  .login-popup span,
  .sign-up-popup span,
  .exchange-popup span,
  .confirm-change-popup span,
  .cancel-exchange-popup span{
    width: 100%;
  }

  .exchange-popup form{
    width: 100%;
  }

  .login-popup .login-popup_input-wrapper,
  .sign-up-popup .login-popup_input-wrapper,
  .exchange-popup .login-popup_input-wrapper,
  .confirm-change-popup .login-popup_input-wrapper,
  .cancel-exchange-popup .login-popup_input-wrapper{
    width: 100%;
  }

  .exchange-popup input + span{
    margin-top: 10px;
  }

  .exchange-popup .login-popup_input-wrapper input:first-child,
  .confirm-change-popup .login-popup_input-wrapper input:first-child{
    max-width: 74%;
  }

  .exchange-popup .login-popup_input-wrapper input:last-child,
  .confirm-change-popup .login-popup_input-wrapper input:last-child{
    max-width: 24%;
  }

  .assets-item-wrapper{
    width: 100%;
    margin: 0 0 22px 0;
  }

  .assets-item_info .title,
  .assets-item_deposit-info.active .title,
  .assets-item_withdraw-info.active .title{
    display: flex;
  }


  footer .container{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 27px 0;
    ul{
      flex-direction: column;
      align-items: center;
      li:first-child{
        padding: 0 0 14px 0;
      }
    }
    p{
      padding: 30px 0 0 0;
    }
  }

  .exchanges-confirmed{
    max-width: 250px;
    p{
      max-width: 160px;
    }
  }

  .confirm-change-popup.active .confirm-change-popup_wrapper{
    flex-direction: column;
    align-items: flex-start;
    div:first-child label{
      margin: 0 0 20px 0;
    }
  }

  .assets-item_deposit-info.active,
  .assets-item_withdraw-info.active{
    padding: 40px 18px 20px;
  }

  .assets-item_deposit-info_content{
    align-items: center;
  }

  .footer-profile{
    background-color: #12146a;
  }
}

@media screen and (max-width: 620px){
  .exchange-rate .table .row .col:last-child{
    padding: 0;
  }

  .exchange-rate .table .row{
    padding: 0 11px;
  }

  .exchange-rate .table .row.head .col:first-child,
  .exchange-rate .table .row.head .col:nth-child(2){
    display: none;
  }

  .exchange-rate .table .row .col:nth-child(2){
    display: none;
  }

  .exchange-rate .table .row.head .col:nth-child(3){
    flex: 0.7;
  }

  .exchange-rate .table .row.head .col:last-child{
    flex: 0.9;
  }

  .exchange-rate .table .row .col:nth-child(4){
    flex: 0.7;
  }

  .exchange-rate .table .row .col{
    padding: 11px 2px;
    flex: 0.5;
    &:last-child{
      flex: 0.9;
      justify-content: center;
    }
  }

  .table .row .col:last-child{
    flex-direction: inherit;
  }
  .table.history .col:last-child{
    flex-direction: column;
    justify-content: center;
  }

  .currencies .currencies-wrapper{
    margin: 23px 0 0 0;
  }

  .title{
    display: block;
  }

  .exchange-rate .table .row .col:first-child{
    flex: 0;
    padding: 0 7px 0 0;
    justify-content: center;
  }

  .referral-link .link-for-copy{
    flex-direction: column;
    align-items: center;
    input{
      margin: 0 auto;
      width: 100%;
    }
  }

  .referral-link .link-for-copy .copy-link-btn{
    width: 100%;
    margin: 15px 0 0 0;
  }

  .social-hidden{
    justify-content: center;
  }

  .title .sort-by{
    display: none;
  }

  .table .title{
    display: flex;
    .see-history{
      display: inline-block;
      width: auto;
      background-image: none;
      text-decoration: underline;
      color: #fff;
      &:after{
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        background: url("../img/to-top-dark.svg") 50% 50% no-repeat;
      }
    }
    .sort-by+.see-history:after{
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url("../img/to-bottom-dark.svg") 50% 50% no-repeat;
    }
  }

  .table .row .col,
  .table .row.head .col{
    width: 33.3%;
    flex: auto;
    flex-direction: column;
  }
  .table span:first-child{
    font-family: robotomedium;
    color: #878aff;
    display: block;
  }
  .table .row.head{
    display: none;
  }
  .table .row.head+.row{
    padding-top: 20px;
  }
  .table .row{
    padding: 0 0 0 15px;
  }
}

@media screen and (max-width: 470px){
  header .container .logo-wrapper{
    width: 85%;
  }

  .exchange div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &:after{
      right: 2px;
    }
    .wrapper-dropdown{
      padding: 12px 25px 11px 7px;
    }
  }

  .currencies .currencies-wrapper .currencies_item-img-wrapper{
    width: 28px;
    height: 28px;
  }

  .currencies .currencies-wrapper .currencies_item-img-wrapper{
    background-size: 11px 15px;
  }

  .currencies .currencies-wrapper .currencies_item{
    margin: 0 10px 0 0;
  }

  .wrapper-exchange{
    justify-content: flex-start;
  }

  .table .row .col{
    font-size: 12px;
    align-items: flex-start;
  }

  .table .row .col:first-child{
    padding: 0;
    flex: auto;
  }

  .content{
    max-width: 270px;
  }
}